[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape
[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/tufu9441/maupassant-hexo.git
